---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ pv.name }}
  labels:
    {{ pv.labels | to_yaml(indent=4) }}
spec:
  capacity:
    storage: {{ pv.capacity }}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: local-storage
  local:
    path: {{ pv.path }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
              - raspberrypi
